<app-header></app-header> 
<div class="login">
    
   <section class = "container">
   <mat-toolbar>
      <span>Login</span>
    </mat-toolbar>
       <mat-card-content>
   
          <form class="my-form">
             <mat-form-field class="full-width" appearance = "outline">
                <mat-label>Email</mat-label>
                <input class="email" matInput  placeholder="Email" [(ngModel)] = "userId" name="email" required>
             </mat-form-field>
             <mat-form-field class="full-width" appearance = "outline">
                <mat-label>Password</mat-label>
                <input class="email" matInput  placeholder="Password" [(ngModel)] = "password" type = "password" name="password" required>
             </mat-form-field>
           </form>
       </mat-card-content>
       <!-- <mat-card-actions> -->
   
   
           <!-- <section class="one">  -->
           <!-- <button mat-raised-button  (click)="login($event)"  color="accent"  type="submit">Login</button> -->
           <button id="login" mat-raised-button (click)="login($event)"  color="accent"  type="submit">Submit</button>
          <!-- </section> -->
          <!-- <section class = "two"> -->
         
          <!-- </section>  -->
   
       <!-- </mat-card-actions> -->
       <p> New to Plasma  <a class="signup" routerLink="/signup">Sign up for free</a></p>
      </section>
     </div>