.my-form{
  min-width: 150px;
  max-width: 250px;
  width: 100%;
  padding-left: 90px;
  padding-top: 20px;
  font-family: 'Crimson Text', serif;
 
 }
 
 .full-width {
  width: 100%;
 }
.login{
    background-image: url("../../../../assets/bg14.jpg");
  /* background-image: cover; */
  height: 700px;
  width:100%;
  /* opacity: 0.9; */
  /* padding-left: 100px; */
  background-repeat: no-repeat;
  position: absolute;
  top:60px;
  background-size: 100% 100%;
}


section{
  margin-left: 550px;
  margin-top: 180px;
  height: 350px;
  background: white;
  opacity: 0.7;
  width: 420px;
  box-shadow: 10px 10px 8px #333333;
  /*border-top-left-radius: 25px;*/
  border-radius: 50px 50px 50px 50px;
  background-image: url("../../../../assets/gra.jpg");
  
 
 
 }
 
 mat-toolbar
 {
  /* margin-top: 10%; */
  /* width: %; */
  /* opacity: 0.5; */
  padding-left: 100px;
  padding-top: 0px;
  background: inherit;
  border-radius: 50px 50px;
  font-size: 25px;
  font-family: 'Crimson Text', serif;
 }
#login{
background-color: crimson;
color: white;
}
 mat-label{
  font-family: 'Crimson Text', serif;
  color: black;
 }
 button{
  margin-left: 170px;
  /* padding-left: 50px; */
  font-size: 18px;
  font-family: 'Crimson Text', serif;
 }
 span{
   margin-left: 80px;
 }

 mat-form-field{
   border-color: black;
 }
 a{
  color: white;
  text-decoration: none;
 }
 
 p{
  margin-left: 80px;
  font-size: 20px;
  padding-top: 0px;
  font-style: italic;
  font-family: 'Crimson Text', serif;
 }
 .signup{
  color: darkblue;
 }
 p a:hover{
  text-decoration: underline;
 
 }
#login{
  background-color: darkblue;
  color: white;
}
@media (max-width: 800px){

  .login {
   width: 100%;
   height:80%;
  }
  .my-form{
    width: 30%;
    height: 50%;
  }

  .container{
    width: 50%;
    height:50%;
    margin-left: 15%;
  }
  mat-toolbar{
    padding-left: 0%;
    margin-left: 0%;
  }
 #login{
    /* padding-left: 5%; */
    position: relative;
    top:10px;
    left: 90px;

  
    margin-left: 5%;
  }
  p{
    margin-left: 0;

  }
}