
<form>
   

<section class = "image">
   <form>


 <mat-toolbar>
    <span>Login</span>
  </mat-toolbar>
     <mat-card-content>
        <form class="my-form">
           <mat-form-field class="full-width">
              <mat-label>Email</mat-label>
              <input  matInput  placeholder="Email" [(ngModel)] = "userId" name="email">
           </mat-form-field>
           <mat-form-field class="full-width">
              <mat-label>Password</mat-label>
              <input  matInput  placeholder="Password" [(ngModel)] = "password" type = "password" name="password">
           </mat-form-field>

         
         </form>
     </mat-card-content>
     <mat-card-actions>
         <button mat-raised-button  (click)="login($event)"  color="accent"  type="submit">Login</button>
        
        <button mat-raised-button color="accent"><a [routerLink]="['/signup']" class="btn btn-link">Register</a></button>
        
        
     </mat-card-actions>
     </form></section>

         
      


