 
 <section>
 <mat-toolbar>
    <span>Admin</span>
  </mat-toolbar>
     <mat-card-content>
        <form class="my-form">
           <mat-form-field class="full-width">
            <mat-label>Domain</mat-label>
              <input matInput [(ngModel)] ="domain" name="domain">
            </mat-form-field>
              <mat-form-field class="full-width">
                <mat-label>Concepts</mat-label>
                <mat-select  multiple aria-required="Concepts">
                  <mat-option *ngFor="let data of concepts" [value]="concepts">{{data}}</mat-option>
                </mat-select>
              </mat-form-field>
        </form>
     </mat-card-content>
     <mat-card-actions>
        <button mat-raised-button (click)="onClick()" color="accent">Add</button>
     </mat-card-actions>
    </section>