

  <mat-card>
<form [formGroup]="user" (ngSubmit)="login()">
   <table width = 50%>
     <td>User</td>
  
   <tr>
 
   <input matInput placeholder="Enter your email id" type="text"
     formControlName="userId" class="id" required />

 
 </tr>

<td>Password</td>
 
 <tr>
   <input matInput placeholder="Enter your password" type="password"
     formControlName="password" class="password" required />

 
</tr>
</table>
</form>
 <button mat-button color="primary" class="button" type="submit" [disabled]="!user.valid">Login</button>
</mat-card>  
