.my-form{
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  
}
 
.full-width {
  width: 100%;
}


section{
  margin-left: 450px;
}
mat-toolbar
{
  /* margin-top: 3px; */
  width: 65%;
}
button{
  margin-left: 10px;
}
a{
  color: white;
  text-decoration: none;
}