.my-form{
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
 
.full-width {
  width: 100%;
}

section{
  margin-left: 550px;
<<<<<<< HEAD
=======
  margin-top: 100px;
>>>>>>> 7ea6108266fc9dffab5225da806139e40eb1bb6e
}

mat-toolbar{

  width:53%;
}
button{
  margin-left: 240px;
<<<<<<< HEAD
}
=======
}
>>>>>>> 7ea6108266fc9dffab5225da806139e40eb1bb6e
