.my-form{
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin-left: 30px;
}
 
.full-width {
  width: 100%;
}

section{
  margin-left: 550px;
  margin-top: 180px;
  background: white;
    opacity: 0.7;
    width: 550px;
    height: 270px;
    box-shadow: 10px 10px 10px #333333;
    /*border-top-left-radius: 25px;*/
    border-radius: 50px 50px 50px 50px;
    background-image: url("../../../../assets/gra.jpg");
 
}

mat-toolbar{

  width:53%;
  background: inherit;
  padding-left: 220px;
  font-size: 25px;
  border-radius: 50px 50px;
}
button{
  margin-left: 240px;
}
.domain{
  background-image: url("../../../../assets/bg11.jpg");
  height: 700px;
  width:100%;
  opacity: 0.8;
  /* padding-left: 100px; */
  background-repeat: no-repeat;
  position: absolute;
  top:60px;
  background-size: 100% 100%;
}