.my-form{
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin-left: 90px;
  margin-top: 10px;
}
#concept{
  width: 238px;
}
.concepts{
  padding-left: 10px;
}

.full-width {
  width: 60%;
}
.Add{
  background-color: darkblue;
  color: white;
}
section{
  margin-left: 550px;
  margin-top: 180px;
  background: white;
    opacity: 0.8;
    width: 480px;
    height: 290px;
    box-shadow: 10px 10px 10px #333333;
    /*border-top-left-radius: 25px;*/
    border-radius: 30px 50px 50px 50px;
    background-image: url("../../../../assets/gra.jpg");
 
}

mat-toolbar{

  width:53%;
  background: inherit;
  padding-left: 180px;
  font-size: 25px;
  border-radius: 50px 50px;
}
button{
  margin-left: 180px;
  width: 100px;
}
.domain{
  background-image: url("../../../../assets/bg53.png");
  height: 700px;
  width:100%;
  opacity: 0.9;
  /* padding-left: 100px; */
  background-repeat: no-repeat;
  position: absolute;
  top:60px;
  background-size: 100% 100%;
}

mat-label{
  color: black;
  font-size: 17px;
}
@media (max-width: 1024px){

  .domain {
   width: 100%;
   height:90%;
  }
  section{
    width: 30%;
    height: 40%;
    margin-left: 35%;
  }
  .my-form{
    width: 70%;
    height: 30%;
    margin-left: 37%;
  }
  mat-toolbar{
    padding-left: 40%;
  
  }
  .Add{
    margin-top: 20%;
    margin-left: 40%;
  }
 
}

@media (max-width: 768px){

  .domain {
   width: 100%;
   height:86%;
  }
  section{
    width: 30%;
    height: 40%;
    margin-left: 35%;
  }
  .my-form{
    width: 30%;
    height: 30%;
    margin-left: 30%;
    margin-top: 0%;
    
  }
  mat-toolbar{
    padding-left: 40%;
    font-size: 15px;
  
  }
  mat-label{
    font-size: 12px;
  }
  .Add{
    margin-top: 25%;
    margin-left: 37%;
    padding-bottom: 12%;
    height: 10%;
    font-size: 13px;
    width: 30%;
  }
 
}

@media (max-width: 425px){

  .domain {
   width: 100%;
   height:96%;
   position:absolute;
   top:2%;
  }
  section{
    width: 50%;
    height: 34%;
    margin-left: 30%;
  }
  .my-form{
    width: 30%;
    height: 30%;
    margin-left: 20%;
    
  }
  mat-toolbar{
    padding-left: 40%;
    font-size: 15px;
  
  }
  mat-label{
    font-size: 12px;
  }
  .Add{
    width: 20%;
    height: 10%;
    margin-top: 28%;
    margin-left: 37%;
    font-size: 12px;
    padding-bottom: 15%;
  }
 
}

@media (max-width: 375px){

  .domain {
   width: 100%;
   height:96%;
   position:absolute;
   top:2%;
  }
  section{
    width: 50%;
    height: 34%;
    margin-left: 30%;
  }
  .my-form{
    width: 30%;
    height: 30%;
    margin-left: 30%;
    
  }
  mat-toolbar{
    padding-left: 40%;
    font-size: 15px;
  
  }
  mat-label{
    font-size: 12px;
  }
  .Add{
    height: 10%;
    width: 20%;
    margin-top: 30%;
    margin-left: 37%;
    font-size: 12px;
    padding-bottom: 15%;
  }
 
}

@media (max-width: 320px){

  .domain {
   width: 100%;
   height:96%;
   position:absolute;
   top:2%;
  }
  section{
    width: 50%;
    height: 34%;
    margin-left: 30%;
  }
  .my-form{
    width: 30%;
    height: 30%;
    margin-left: 30%;
    
  }
  mat-toolbar{
    padding-left: 40%;
    font-size: 15px;
  
  }
  mat-label{
    font-size: 12px;
  }
  .Add{
    height: 13%;
    width: 20%;
    margin-top: 36%;
    margin-left: 37%;
    font-size: 12px;
    padding-bottom: 15%;
  }
 
}