<!-- <app-header>
</app-header> -->
 <div class="domain">
 <section>
 <mat-toolbar>
    <span>Admin</span>
  </mat-toolbar>
     <mat-card-content>
        <form class="my-form">
           <mat-form-field class="full-width" appearance = "fill">
            <mat-label>Domain</mat-label>
              <input matInput [(ngModel)] ="domainName" name="domain">
            </mat-form-field>
            <mat-form-field class="full-width" appearance = "fill">
               <mat-label>Concepts</mat-label>
                  <mat-select  placeholder="Concept"  multiple>
                   <mat-option  *ngFor="let data of conceptsAll" [value]="data" (click)="onChange(data)" >{{data}}</mat-option>
               </mat-select>
            </mat-form-field>
            <!-- <mat-form-field id="concept">
            <mat-label class="concepts"> Concepts</mat-label>
              <input matInput [(ngModel)] ="conceptsAll" name="domain" placeholder="add concepts">
              
            </mat-form-field> -->
        </form>
     </mat-card-content>
     <mat-card-actions>
        <button mat-raised-button (click)="send($event)"class="Add">Add</button>
     </mat-card-actions>
    </section>
   </div>