

.home-hero-copy{
    position: relative;
    top:120px;
    left: 390px;
    height: 250px;
    width: 700px;
    font-size: 2.5vw;
    text-align: center;
    color: #202124;
}

 /* .color-hero1{ 
    color: #4285f4;
}
.color-hero2{
    color: #ea4335;
}
.color-hero3{
    color: #34a853;
}
.color-hero4{
    color:#f9ab00;
}  */
.container1
{
display: flex;
padding-left: 10px;
margin-top:0px;
 margin-bottom: 50px; 
 margin-left: 90px;

}

.a1 {
    max-width: 400px; 
   position: relative;
   top:20px;
   padding-right:30px;
   box-shadow: 1px 1px 8px #333333;
   /*border-top-left-radius: 25px;*/
   border-radius: 50px 50px 50px 50px;
   margin-left: 15px;
  
  
   /* background-image: url("../../../../assets/gra.jpg"); */
 } 
 
 mat-card-content a{
    font-size: 19px;
 }

img{
    padding-top: 10px;
    padding-left: 10px;
    width:300px;
    height: 250px;
    border-radius: 50px 50px 50px 50px;
    }
    a{
        margin-left: 10px;
    }
mat-card-content a{
    color: black;
   margin-left: 80px;
   text-decoration: none;
}
li{
    display: inline;
    padding-bottom: 70px;
    /* margin-left: -90px; */
}
h5{
    padding-left: 90px;
    font-size: 16px;
}
.social{
    margin-left: 600px;
}
@media (max-width: 1024px){
.whole{
    width: 100%;
    height: 100%;
}
    .home-hero-copy{
        width: 70%;
        height: 30%;
        padding-left: 0%;
        position: relative;
        left: 20%;

    }
    .container1 {
        margin-top: 80px;
        margin-left: 40%;
     width: 50%;
     height:50%;
     margin-bottom: 0px;
     display: flex;
     flex-direction: column;
    }
    .a1{
      width: 50%;
      height: 50%;
     
      /* margin-left: 30%; */
    }
   
    img{
        width: 90%;
        height: 90%;
        margin-left: 10%;
    }
    mat-card-content{
        /* width: 40%; */
        height: 10%;
        /* position: relative;
        left:10%; */
        padding-left: 0px;
        margin-left: 0px;
        
    }
    mat-card-content a{
        font-size: 18px;
    }
    .social{
        position: absolute;
        top:120%;
        bottom: 200%;
        margin-top: 0%;
        margin-left: 41%;
        margin-bottom: 5%;
        
    }
  
  }
  @media (max-width: 768px){
    .whole{
        width: 100%;
        height: 100%;
    }
        .home-hero-copy{
            width: 70%;
            height: 30%;
            padding-left: 0%;
            position: relative;
            left: 20%;
    
        }
        .container1 {
            margin-left: 40%;
         width: 50%;
         height:50%;
         display: flex;
         flex-direction: column;
        }
        .a1{
          width: 50%;
          height: 50%;
         
          /* margin-left: 30%; */
        }
        mat-card-content a{
            font-size: 14px;
            margin-left: 0px;
            padding-left: 35px;
        }
        img{
            width: 90%;
            height: 90%;
            margin-left: 10%;
        }
        mat-card-content{
            /* width: 40%; */
            /* position: relative;
            left:10%; */
            padding-left: 0px;
            margin-left: 0px;
            
            
        }
        a{
            font-size: 5px;
          
        }
        .social{
            position: absolute;
            top:119%;
            bottom: 200%;
            margin-top: 5%;
            margin-left: 39%;
            
        }
      
      }

      @media (max-width: 425px){
        .whole{
            width: 100%;
            height: 100%;
        }
            .home-hero-copy{
                width: 70%;
                height: 30%;
                padding-left: 0%;
                position: relative;
                left: 20%;
                font-size: 15px;
                margin-bottom: 20%;
        
            }
            .container1 {
                margin-left: 24%;
             width: 50%;
             height:50%;
            
             display: flex;
             flex-direction: column;
            }
            .a1{
              width: 70%;
              height: 50%;
             
              /* margin-left: 30%; */
            }
            img{
                width: 100%;
                height: 100%;
                margin-left: 10%;
            }
            mat-card-content{
                width: 40%;
                height: 10%;
                /* position: relative;
                left:10%; */
                padding-left: 0px;
                margin-left: 0%;
                font-size: 5px;
                
                
            }
            mat-card-content a{
                font-size: 15px;
                position: absolute;
                left: 0%;
                bottom: 3%;
                right: 3%;
            }
           
            .social{
                position: absolute;
                top:110%;
                bottom: 200%;
               
                margin-left: 25%;
                font-size: 13px;
                
            }
          
          }
          @media (max-width: 375px){
            .whole{
                width: 100%;
                height: 100%;
            }
                .home-hero-copy{
                    width: 70%;
                    height: 30%;
                    padding-left: 0%;
                    position: relative;
                    left: 20%;
                    font-size: 15px;
                    margin-bottom: 25%;
            
                }
                .container1 {
                    margin-left: 24%;
                 width: 50%;
                 height:50%;
                 
                }
                .a1{
                  width: 70%;
                  height: 50%;
                  display: flex;
                 flex-direction: column;
                 
                  /* margin-left: 30%; */
                }
                img{
                    width: 100%;
                    height: 100%;
                    margin-left: 10%;
                }
                mat-card-content{
                   
                    height: 10%;
                    /* position: relative;
                    left:10%; */
                    padding-left: 0px;
                    margin-left: 0%;
                    
                    
                    
                }
                mat-card-content a{
                    font-size: 12px;
                    position: absolute;
                    left: 0%;
                    bottom: 3%;
                    right: 3%;
                }
               h5{
                   font-size: 12px;
               }
                .social{
                    position: absolute;
                    top:115%;
                    bottom: 200%;
                   
                    margin-left: 25%;
                    font-size: 12px;
                    
                }
              
              }
          @media (max-width: 320px){
            .whole{
                width: 100%;
                height: 100%;
            }
                .home-hero-copy{
                    width: 70%;
                    height: 30%;
                    padding-left: 0%;
                    position: relative;
                    left: 20%;
                    font-size: 15px;
                    margin-bottom: 30%;
            
                }
                .container1 {
                    margin-left: 24%;
                 width: 50%;
                 height:50%;
                 
                }
                .a1{
                  width: 70%;
                  height: 50%;
                  display: flex;
                 flex-direction: column;
                 
                  /* margin-left: 30%; */
                }
                img{
                    width: 100%;
                    height: 100%;
                    margin-left: 10%;
                }
                mat-card-content{
                   
                    height: 10%;
                    /* position: relative;
                    left:10%; */
                    padding-left: 0px;
                    margin-left: 0%;
                    
                    
                    
                }
                mat-card-content a{
                    font-size: 12px;
                    position: absolute;
                    left: 0%;
                    bottom: 3%;
                    right: 3%;
                }
               h5{
                   font-size: 12px;
               }
                .social{
                    position: absolute;
                    top:110%;
                    bottom: 200%;
                   
                    margin-left: 25%;
                    font-size: 12px;
                    
                }
              
              }
