<!-- <app-header></app-header> -->
<section
      class="laststep">
    <!-- <mat-card class = "col">
    <div fxFlex="20%">
     <img mat-card-image class="img" src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/8V46UZCS0V.jpg">
    </div>
  </mat-card> -->

  <mat-card class="col1">
    <h3>Personal Information</h3>
    <label class="step1">Name : {{ reg.name }}</label> <br />
    <br />

    <label class="step1">Email Id : {{ reg.emailId }}</label> <br />
    <br />

    <label class="step1">MobileNo : {{ reg.contact }}</label> <br />
    <br />

    <label class="step1">Date of Birth : {{ reg.dateOfBirth }}</label> <br />
    <br />
    <label class="step1">Gender : {{ gender }}</label> <br />
    <br />



    <!-- <button mat-raised-button (click)="Profile()">Edit</button>
    <button mat-raised-button (click)="Profile()">Submit</button> -->

    </mat-card>

    <!-- <button mat-button fxFlex = "10" class="step3" (click)="saveDetails()">Submit</button> -->

    <!-- <p>{{Msg}}</p> -->
  </section>