/* .laststep{
   background-image:url('http://szzljy.com/data/27/gray-color-wallpaper/gray-color-wallpaper-5.jpg');

} */
/* .col{
    margin-right: 1200px;
   width: 120px;
   height: 120px;
   padding-left: 10px;
} */
.step1{
 text-align: right;
       width: 100%;
   }

.laststep {
margin-left: 15px;
text-align: center;

 }
 h3 {
   text-align: center;
}

.prebtn1 {
   margin-left: 43%;
   width: 15%;
 }
 .a{
     text-align: center;
 }


.col1{
/* padding-top: 1000px; */
 padding-top: 100px;
 margin-right: 200px;
 margin-top: 0px;
 width: 1500px;
 height: 700px;
 margin-bottom: 1px;
}

