 
 <header>
  <div class="topnav">
  
  </div>
  </header>
  <section> 
  <figure>
    <img src="./assets/icon.png">
  </figure>

  
  <div class="center2">
    <button  mat-fab (click)="startButton($event)">
      <mat-icon *ngIf="!recognizing">mic</mat-icon>
      <mat-icon *ngIf="recognizing">stop</mat-icon>
    </button>
  </div>
  
  
  <div class="search">
  <input  style="width: 200px; height: 30px;" value={{finalTranscript}}  type="search" placeholder="Search" aria-label="Search">
  
  </div>
  <div class="go">

    <button md-button color="primary" (click)="onClickMe()" >GO</button>
    <!-- <a mat-button (click)="onClickMe()" routerLink="/card">GO</a> -->
  
    
  </div>
  <div class = "center3">
    <mat-card *ngIf="notification" class="notification">{{notification}}</mat-card>
    </div>
  </section>
  
  




