.speech-result-width {
    width: 90%;
    padding-left: 20px;
    padding-right: 20px;
  }
  section
  {
  margin-top: 0px;
    height:1000px;
  
  }
  figure{
   padding-left: 300px;
  
  }
  .topnav {
    margin-top: 0px;
    overflow: hidden;
    background-color: #333;
  }
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }




  
  .center2
  {
    position: absolute;
    top:250px;
    padding-left: 580px;
    
    
    }
  
  
  
  .mat-input-element:disabled {
    /* color: rgba(0,0,0,.9); */
    color:black;
  }
  
  .notification {
    margin-left: 20px;
    margin-right: 20px;
  }
  
  
  .buttonwrapper {
    display:inline-block;
  }
  
  input,
  button {
    background-color:transparent;
    border:1 solid black;
  }
  
  .search
  {
    margin-left: 500px;
    position: relative;
  }
  
  .go
  {
    margin-left: 700px;
    position: absolute;
    top:230px;
  }