  <header>
  <nav>

<mat-toolbar >
    <mat-toolbar-row class="navbar-header">
          <a href="/">
              <img src="../assets/7.png" class="img-rounded" alt="plasma" width="50px" height="40px">
       </a>
       <span class="spacer"></span>
       <a mat-button routerLink="/signup">Register</a>
       <a mat-button routerLink="/login">Login</a>
       <a mat-button routerLink="/admin">Admin</a>
       
       <a mat-button routerLink="/card">card</a>

      </mat-toolbar-row>
 </mat-toolbar>

 </nav>
 </header>
