.navLinks {
  font-size: 1.25rem;
  cursor: pointer;
}
 .spacer {
  flex: 1 1 auto;
} 
.navbar-header
{
margin-top: 0px;
margin-left: 0px;
margin-right: 0px;
width: 100%;
}

header{
  margin: 0;
}
img{
  width: 75px;
  height: 80px;
}