  <header>
  <nav>
<mat-toolbar>
    <mat-toolbar-row>
      <div class="navbar-header">
          <a href="/">
              <img src="../assets/icon12.png" class="img-rounded" alt="plasma" width="50px" height="40px">
              </a>
              </div>
       <span class="spacer"></span>
       <a mat-button routerLink="/signup">Register</a>
       <a mat-button routerLink="/login">Login</a>
       <a mat-button routerLink="/admin">Admin</a>
      </mat-toolbar-row>
 </mat-toolbar>
 </nav>
 </header>
