.navLinks {
  font-size: 1.25rem;
  cursor: pointer;
 
}
 .spacer {
  flex: 1 1 auto;
} 
.navbar-header
{
margin-top: 0px;
margin-left: 0px;
margin-right: 0px;
width: 100%;
color: white;
}

header{
  margin: 0;
  position: fixed;
  width: 100%;
  z-index: 1; 
  top: 0;
  /* margin-bottom: 65%;  */
  
}


mat-toolbar{
  background-color:black;
  opacity: 0.7;
}
img{
  width:70px;
  height:60px;
  padding-top: 10px;
opacity: 1.0;
}
