  <header>
  <nav>
<mat-toolbar>
    <mat-toolbar-row class="navbar-header">
          <a href="/">
              <img src="../assets/pic1.png" class="img-rounded" alt="plasma">
              </a>
       <span class="spacer"></span>
       <div class="wrap"  *ngIf=userLogged>
        <mat-card-actions>
          <button mat-raised-button class="login" routerLink="/login">Login</button>
           <!-- <button mat-raised-button (click)='logout()'>logout</button>  -->
        </mat-card-actions>
    </div>
    <div class="wrap" *ngIf=flag >
        <mat-card-actions>
           <button mat-raised-button color="" (click)='logout()'>Logout</button>
                 </mat-card-actions>
    </div>
       
       
  
        <!-- <span>
          <button mat-raised-button (click)="profile()"><mat-icon>account_circle</mat-icon></button>
        </span> -->
        <button mat-raised-button class="profile" routerLink="/profile">Profile</button>
      </mat-toolbar-row>
 </mat-toolbar>

 </nav>
 </header>



