.navLinks {
  font-size: 0.5rem;
  cursor: pointer;
  width: 100%;
  
 
}
 .spacer {
  flex: 1 1 auto;
} 
.login,.profile,.wrap1
{

  background-color: black;


  /* opacity: 0.8; */
color: white;
}
.login:hover{
  background-color: darkblue;
}

.profile:hover{
  background-color: darkblue;
}
.wrap1:hover{
  background-color: #4CAF50;
}
.navbar-header
{
margin-top: 0px;
margin-left: 0px;
margin-right: 0px;
width: 100%;


}
button{
  font-size: 18px;
  letter-spacing: 1px;
  font-family: 'Crimson Text', serif;
}

header{
  margin: 0;
  position: fixed;
  width: 100%;
  z-index: 1; 
  top: 0;
  font-size: 12px;
  
  /* margin-bottom: 65%;  */
  
}


mat-toolbar{
  background-color:black;
 
  /* opacity: 0.7; */
}
img{
  width:70px;
  height:60px;
  padding-top: 10px;

}
mat-card-actions{
  margin-bottom: 3px;
  margin-right: 3px;
}
@media (max-width: 700px){
  /* header{
      width: 100%;
  }
  nav{
    width: 100%;
  }
  mat-toolbar{
    width: 100%;
  }
  button{
    width: 100%;
  }
  mat-toolbar-row{
    width: 100%;
  }
  .profile{
    width: 100%;
  } */


mat-toolbar-row {
  display: flex;
  flex-direction: column;
  width: 100%;
}
img{
  padding-top:0px;
}
button{
  padding-top: 0px;
  display: inline;
}

  }