<div class="row" fxLayout.xs="column">
  <div fxLayout="" fxLayoutGap="32px" fxLayoutAlign="flex-start" *ngFor='let o of products'>
      <div fxFlex="20%">
  <mat-card class='product--blue'>
    <mat-card-header>
        <img mat-card-image src="{{o.Image_URL}}" alt="{{o.Brand}}">
        <mat-card-title>
            <p>{{o.Brand}}</p>
        </mat-card-title>
        <mat-card-actions align="center">
            <button mat-raised-button (click)="buy()">Buy</button>
           <button mat-raised-button (click)="openDialog(o)">Details</button>
              <button mat-raised-button (click)="AddToCart(o)">AddToCart</button>
        </mat-card-actions>
  </mat-card-header>
 </mat-card>
 </div>
  </div>
 </div>