<!-- <app-header></app-header> -->
<link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet"> 
<div class="register">
<section class="whole">
  <section>
<mat-toolbar >
    <span>Register</span>
  </mat-toolbar>
<mat-card-content>
    <form class="my-form">
       <mat-form-field class="full-width" appearance = "outline">
              <mat-label>Name</mat-label>
              <input  matInput  placeholder="Name" [(ngModel)]="name" name="name" required>
           </mat-form-field>
           <mat-form-field class="full-width" appearance = "outline" >
              <mat-label>Date of Birth</mat-label>
         <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="dateOfBirth" name="dateOfBirth">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker> 
           </mat-form-field>
            <mat-form-field class="full-width" appearance = "outline">
              <mat-label>Contact</mat-label>
              <input  matInput maxlength="10" type="number" placeholder="Contact" [(ngModel)]="contact" name="contact">
           </mat-form-field>
           <!-- Email Id  -->
           <mat-form-field class="full-width" appearance = "outline" required>
              <mat-label>Email</mat-label>
                   <input matInput placeholder="Email" [formControl]="emailFormControl"
                        [errorStateMatcher]="matcher" [(ngModel)]="emailId" name="emaiId" required>
                
                  <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                   Please enter a valid email address
                 </mat-error>
                  <mat-error *ngIf="emailFormControl.hasError('required')">
                   Email is <strong>required</strong>
                 </mat-error>
            </mat-form-field>
             <!-- <mat-form-field class="full-width">
              <mat-label>Set Password</mat-label>
              <input  matInput type="password" id="mysecretpassword"  placeholder="Set Password" [(ngModel)]="setPassword" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"   name="setPassword" showHideStatus required>
              <i matSuffix
              class="material-icons"
              showHideTrigger="mysecretpassword"></i>
           </mat-form-field>   -->
           <mat-form-field class="full-width" appearance = "outline" >
             <mat-label>Password</mat-label>
            <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'"   pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" required>
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </mat-form-field> 
    </form>
  </mat-card-content>
  <!-- <mat-card-actions> -->
    <!--<button mat-raised-button (click)="register($event)" color="accent">Register</button>-->
   <!--<button mat-raised-button [routerLink]="['/login']" class="btn btn-link" color="accent"> Cancel</button>-->
    <button class="regis" mat-raised-button (click)="register($event)" >Submit</button>
  <!-- </mat-card-actions> -->
  <p> Already have an account?<a routerLink="/login">Login</a></p>
</section>
</section>
</div>
