<section class="whole">
  <section>
<mat-toolbar >
    <span>Register</span>
  </mat-toolbar>
<mat-card-content>
    <form class="my-form">
        <mat-form-field class="full-width">
            <mat-label>Id</mat-label>
            <input  matInput  placeholder="Id" [(ngModel)]="id" name="id">
         </mat-form-field>
       <mat-form-field class="full-width">
              <mat-label>Name</mat-label>
              <input  matInput  placeholder="Name" [(ngModel)]="name" name="name">
           </mat-form-field>
           <mat-form-field class="full-width" >
              <mat-label>Date of Birth</mat-label>
           <!-- <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="dateOfBirth"  required> -->
           <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="dateOfBirth" name="DOB">
           <mat-datepicker-toggle matSuffix [for]="picker" >
              </mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            
        </mat-form-field>
            <mat-label>Gender: </mat-label>
            <mat-radio-group [(ngModel)]="gender" >
              <mat-radio-button class="example-margin" name="male" value="M" (change)="onChange('male')">Male</mat-radio-button>
              <mat-radio-button class="example-margin" name="female" value="F"(change)="onChange('female')">Female</mat-radio-button>
              <mat-radio-button class="example-margin" name="other" value="Other" (change)="onChange('other')">Other</mat-radio-button> 
            </mat-radio-group>
            <!-- <mat-select  placeholder="gender"> -->
                <!-- <mat-label>Gender: </mat-label>
                <mat-radio-group [(ngModel)]="gender">
                    <mat-radio-button class="example-margin" [(ngModel)]="gender" name="gender" value="M">Male</mat-radio-button>
                    <mat-radio-button class="example-margin" [(ngModel)]="gender" name="gender" value="F">Female</mat-radio-button>
                    <mat-radio-button class="example-margin" [(ngModel)]="gender" name="gender" value="Other">Other</mat-radio-button>
                  </mat-radio-group> -->
                <!-- <mat-option  *ngFor="let data of genderlist; let i =index" [value]="data">
                  <mat-checkbox [checked] = "selected === i" (change)="onChange(data);gender=data"> {{data}}</mat-checkbox>
                </mat-option>
              </mat-select> -->
            <mat-form-field class="full-width">
              <mat-label>Contact</mat-label>
              <input  matInput  placeholder="Contact" [(ngModel)]="contact" name="contact">
           </mat-form-field>
           <mat-form-field class="full-width">
              <mat-label>Email</mat-label>
              <input  matInput  placeholder="Email" [(ngModel)]="emailId" name="emailId">
           </mat-form-field>
           <mat-form-field class="full-width">
              <mat-label>Set Password</mat-label>
              <input  matInput  placeholder="Set Password" [(ngModel)]="setPassword" name="setPassword">
           </mat-form-field>
           <mat-form-field class="full-width">
              <mat-label>Confirm Password</mat-label>
              <input  matInput  placeholder="Confirm Password" [(ngModel)]="confirmpassword" name="confirmpassword">
           </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="register($event)" color="accent">Register</button>
   <button mat-raised-button [routerLink]="['/login']" class="btn btn-link" color="accent"> Cancel</button>
  </mat-card-actions>
  <p> Already have an account?<a routerLink="/login">Login</a></p>
</section>
</section>