  .my-form{
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin-left: 30px;
  }
   
  .full-width {
    width: 100%;
  }

  mat-toolbar
  {
    width:50%;
    /* margin-top: 10%; */
    background: inherit;
    padding-left: 220px;
    font-size: 25px;
   
    
  }

  .register{
    background-image: url("../../../../assets/bg15.jpg");
    height: 700px;
    width:100%;
    opacity: 0.9;
    /* padding-left: 100px; */
    background-repeat: no-repeat;
    position: absolute;
    top:60px;
    background-size: 100% 100%;
  }
.whole
  {
    margin-left:500px;
    margin-top: 70px;
    background: white;
    opacity: 0.7;
    width: 550px;
    height: 570px;
    box-shadow: 10px 10px 10px #333333;
    /*border-top-left-radius: 25px;*/
    border-radius: 50px 50px 50px 50px;
    background-image: url("../../../../assets/gra.jpg");
 
  }


  button{
    margin-left: 180px;
  }

  p{
    margin-left: 170px;
  }
  .btn-link{
    position: absolute;;
    left: 600px;
  }
